#write-dialog {
	background-color: gray;
	border: 1px solid gray;
	margin-left: auto;
	margin-right: auto;
	border-radius: 6px;
	overflow: hidden;
	height: 300px;
	width: 330px;
}

.dlg-div {
	margin: 10px;
}

.dlg-header {
	display: table-cell;
	vertical-align: middle;
	height: 30px;
	
}

input[type=submit] {
width:30%;
border:1px solid #59b4d4;
background:#0078a3;
color:#eee;
padding:3px 0;
border-radius:5px;
margin-left:33%;
cursor:pointer
}

input[type=submit]:hover {
border:1px solid #666;
background:#555;
color:#fff
}

div.pw-dialog {
width:320px;
margin-top:35px;
float:left;
padding:10px 55px 25px;
background-color:rgba(204,204,191,0.51);
border:15px solid #fff;
box-shadow:0 0 10px;
border-radius:2px;
font-size:13px;
text-align:center
}